dtlpy
scipy
numpy
open3d
pandas
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
